{% extends "repo/base.html" %}
{% block content %}
<a href="{% url 'create' %}"><button class="btn btn-primary">Upload Image</button></a>


<form action="{% url 'imageSearch' %}" method=" get" class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" name="imageSearch" placeholder="Search" aria-label="Search">
    <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
</form>


<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Uploaded at</th>
            <th>Size</th>
            <th>Tags</th>
        </tr>
    </thead>
    <tbody>

        {% if found_images %}
        <a href="{% url 'home' %}"><button class="btn btn-primary">Back to Home</button></a>
        {% for image in found_images %}
        <tr>
            <td><a href="{{ image.image.url }}" target="_blank">{{ image.image.name }}</a></td>
            <td>{{ image.date }}</td>
            <td>{{ image.image.size|filesizeformat }}</td>
            <td>{{ image.tags }}</td>
            <td>
                <form action="{% url 'imageDelete' image.id %}" method="POST">
                    {% csrf_token %}
                    <input name="imageDelete" type="submit" value="Delete"
                        onclick="return confirm('Are you sure you would like to delete this image?');" />
                </form>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        {% for image in images %}
        <tr>
            <td><a href="{{ image.image.url }}" target="_blank">{{ image.image.name }}</a></td>
            <td>{{ image.date }}</td>
            <td>{{ image.image.size|filesizeformat }}</td>
            <td>{{ image.tags }}</td>
            <td>
                <form action="{% url 'imageDelete' image.id %}" method="POST">
                    {% csrf_token %}
                    <input name="imageDelete" type="submit" value="Delete"
                        onclick="return confirm('Are you sure you would like to delete this image?');" />
                </form>
            </td>
        </tr>
        {{ image.image.thumbnail }}
        {% empty %}
        <tr>
            <td colspan="3">No data.</td>
        </tr>
        <a href="{% url 'home' %}"><button class="btn btn-primary">Click to Refresh</button></a>
        {% endfor %}
        {% endif %}

    </tbody>
</table>
{% endblock content %}