{% extends "repo/base.html" %}
{% block content %}

{% if found_images %}
<div style="display:none;">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <p>***Please separate your tags with a comma</p>
        <button type="submit">Submit</button>
    </form>
</div>
{% else %}
<div style="display:block;">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <p>***Please separate your tags with a comma</p>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>
{% endif %}

<!--IMAGE SEARCH AND UPLOADED LIST-->
<form action="{% url 'imageSearch' %}" method=" get" class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" name="imageSearch" placeholder="Search" aria-label="Search">
    <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
</form>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Name</th>
            <th>Uploaded at</th>
            <th>Size</th>
            <th>Tags</th>
        </tr>
    </thead>
    <tbody>

        {% if found_images %}
        <a href="{% url 'home' %}"><button class="btn btn-primary">Back to Home</button></a>
        <p>Search Results: </p>
        {% for image in found_images %}
        <tr>
            <td>{{ image.title }}</td>
            <td><a href="{{ image.image.url }}" target="_blank">{{ image.image.name }}</a></td>
            <td>{{ image.date }} EST</td>
            <td>{{ image.image.size|filesizeformat }}</td>
            <td>{{ image.tags }}</td>
            <td>
                <form action="{% url 'imageDelete' image.id %}" method="POST">
                    {% csrf_token %}
                    <input name="imageDelete" type="submit" value="Delete"
                        onclick="return confirm('Are you sure you would like to delete this image?');" />
                </form>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        {% for image in images %}
        <tr>
            <td>{{ image.title }}</td>
            <td><a href="{{ image.image.url }}" target="_blank">{{ image.image.name }}</a></td>
            <td>{{ image.date }} EST</td>
            <td>{{ image.image.size|filesizeformat }}</td>
            <td>{{ image.tags }}</td>
            <td>
                <form action="{% url 'imageDelete' image.id %}" method="POST">
                    {% csrf_token %}
                    <input name="imageDelete" type="submit" value="Delete"
                        onclick="return confirm('Are you sure you would like to delete this image?');" />
                </form>
            </td>
        </tr>
        {{ image.image.thumbnail }}
        {% empty %}
        <tr>
            <td colspan="3">No data.</td>
        </tr>
        <a href="{% url 'home' %}"><button class="btn btn-primary">Click to Refresh</button></a>
        {% endfor %}
        {% endif %}

    </tbody>
</table>
{% endblock content %}