{% extends "repo/base.html" %}
{% block content %}
<a href="{% url 'create' %}"><button>Upload Image</button></a>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Uploaded at</th>
            <th>Size</th>
            <th>Tags</th>
        </tr>
    </thead>
    <tbody>
        {% for image in images %}
        <tr>
            <td><a href="{{ image.image.url }}" target="_blank">{{ image.image.name }}</a></td>
            <td>{{ image.date }}</td>
            <td>{{ image.image.size|filesizeformat }}</td>
            <td>{{ image.tags }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No data.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</body>
{% endblock content %}